{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mot's SNS</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav id="navbar">
        <div class="container">
            <ul>
                <li><a href="">MOT's SNS</a></li>
                <li><a href="">HOME</a></li>
                <li><a href="">POST</a></li>
                <li><a href="">FIND</a></li>
                <li><a href="">LOGOUT</a></li>
                <li><a href="">LOGIN</a></li>
                <li><a href="">SIGNIN</a></li>
            </ul>
        </div>
    </nav>

    <section id="post">
        
        {% block body %}
            
        {% endblock body %}
            
    </section>
</body>
</html>