{% extends 'blog/layout.html' %}


{% block body %}
    <div class="mt-5 pt-5"></div>
    <div class="container text-center mt-5">
        <div class="d-flex justify-content-center">
            <h4 class="align-self-center flex-fill">wrriten by:{{ post.author }}</h4>
            <h1 class="flex-fill align-self-center">{{ post.title }}</h1>
            <h6 class="align-self-center flex-fill">{{ post.published_date }}</h6>
        </div>
        <p class="mt-5">{{ post.text }}</p>
        <div class="float-right d-flex">
            {% if user.is_authenticated and user.username != post.author %}
                <form action="{% url 'update' post.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" >更新</button>
                </form>
                <div class="ml-2"></div>
                <form method="post" action="{% url 'delete' post.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" onclick='return confirm("本当に削除しますか？");'>削除</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock body %}
    